<section class="bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="flex flex-col pb-10 sm:pb-16 lg:pr-8 lg:pb-0 xl:pr-20">
                <img src="/assets/images/logos/malama.webp" alt="" class="h-12 self-start" />
                <figure class="mt-10 flex flex-auto flex-col justify-between">
                    <blockquote class="text-lg/8 text-gray-100">
                        <p>“What I appreciated most was how collaborative the experience was. <strong>I felt
                                involved in creating something that truly represents my brand</strong>. The final
                            result exceeded my expectations, and I now have a design I’m genuinely proud to show the
                            world.”</p>
                    </blockquote>
                    <figcaption class="mt-10 flex items-center gap-x-6">
                        <div class="text-base">
                            <div class="font-semibold text-white">Norman S.</div>
                            <div class="mt-1 text-gray-400">Malama Line Striping</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div
                class="flex flex-col border-t border-white/10 pt-10 sm:pt-16 lg:border-t-0 lg:border-l lg:pt-0 lg:pl-8 xl:pl-20">
                <img src="/assets/images/logos/moveout.webp" alt="" class="h-12 self-start" />
                <figure class="mt-10 flex flex-auto flex-col justify-between">
                    <blockquote class="text-lg/8 text-gray-100">
                        <p>“Kaimuki Digital did an amazing job building our website for MoveOut Deep Cleaners. I
                            highly recommend them to anyone looking for <strong>top-quality web design</strong> and
                            digital services.”</p>
                    </blockquote>
                    <figcaption class="mt-10 flex items-center gap-x-6">
                        <div class="text-base">
                            <div class="font-semibold text-white">Hillary T.</div>
                            <div class="mt-1 text-gray-400">MoveOut Deep Cleaners</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>