<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'google_tag.html' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Support & Contact | Kaimuki Digital</title>

    <!-- Description -->
    <meta name="description"
        content="Get support from Kaimuki Digital for your website, branding, SEO, and digital solutions. Contact our team to resolve issues or get assistance for your Oahu business.">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.kaimukidigital.com/support/">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="Support & Contact | Kaimuki Digital">
    <meta property="og:description"
        content="Get support from Kaimuki Digital for your website, branding, SEO, and digital solutions. Contact our team to resolve issues or get assistance for your Oahu business.">
    <meta property="og:url" content="https://www.kaimukidigital.com/support/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.kaimukidigital.com/assets/images/og-image.webp">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="Kaimuki Digital">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Support & Contact | Kaimuki Digital">
    <meta name="twitter:description"
        content="Get support from Kaimuki Digital for your website, branding, SEO, and digital solutions. Contact our team to resolve issues or get assistance for your Oahu business.">
    <meta name="twitter:image" content="https://www.kaimukidigital.com/assets/images/og-image.webp">

    <!-- Favicon -->
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/favicon.ico">

    <!-- Stylesheets -->
    <link href="/output.css" rel="stylesheet">

    <!-- Tailwind Elements -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>

    <!-- JSON-LD Structured Data -->
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": ["ProfessionalService", "LocalBusiness"],
    "name": "Kaimuki Digital",
    "image": "https://www.kaimukidigital.com/assets/images/og-image.webp",
    
    "areaServed": {
        "@type": "AdministrativeArea",
        "name": "Oahu, Hawaii"
    },
    "openingHours": "Mo-Su 08:00-22:00",
    "telephone": "+1-808-400-7177",
    "priceRange": "$$",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "2324 Lime St",
        "addressLocality": "Honolulu",
        "addressRegion": "HI",
        "postalCode": "96826",
        "addressCountry": "US"
    },
    "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+1-808-400-7177",
        "contactType": "customer support"
    },
    "serviceType": "Customer Support Services",
    "description": "Get support from Kaimuki Digital for your website, branding, SEO, and digital solutions. Contact our team to resolve issues or get assistance for your Oahu business.",
    "@id": "https://www.kaimukidigital.com/support/",
    "url": "https://www.kaimukidigital.com/support/"
    }
    </script>

</head>

<body>

    <!-- Banner-->
    {% include 'banner.html' %}
    <!-- Banner End-->


    <!-- Header -->
    {% include 'header.html' %}
    <!-- Header end-->

    <!-- Support -->
    <div class="bg-gray-900 py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h1 class="text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl">Support Center
                </h1>
                <p class="mt-6 text-lg/8 text-gray-400">Call us directly for support.</p>
            </div>
            <div
                class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 text-base/7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4">
                <div>
                    <h2 class="border-l border-indigo-500 pl-6 font-semibold text-white">Technical Support</h2>
                    <address class="border-l border-white/10 pt-2 pl-6 text-gray-400 not-italic">
                        <p>support@kaimukidigital.com</p>
                        <a href="tel:+18084007177">+1 (808) 400-7177</a>
                    </address>
                </div>
                <div>
                    <h2 class="border-l border-indigo-500 pl-6 font-semibold text-white">Billing Support</h2>
                    <address class="border-l border-white/10 pt-2 pl-6 text-gray-400 not-italic">
                        <p>billing@kaimukidigital.com</p>
                        <a href="tel:+18084007177">+1 (808) 400-7177</a>
                    </address>
                </div>
                <div>
                    <h2 class="border-l border-indigo-500 pl-6 font-semibold text-white">Request a Quote</h2>
                    <address class="border-l border-white/10 pt-2 pl-6 text-gray-400 not-italic">
                        <p>estimate@kaimukidigital.com</p>
                        <a href="tel:+18084007177">+1 (808) 400-7177</a>
                        <div class="text-indigo-400">
                            <a href="/contact/get-quote"
                            class="text-sm/6 font-semibold text-indgo-400">Request Quote <span aria-hidden="true">→</span></a>
                        </div>
                    </address>
                </div>
                <div>
                    <h2 class="border-l border-indigo-500 pl-6 font-semibold text-white">Ask a Question</h2>
                    <address class="border-l border-white/10 pt-2 pl-6 text-gray-400 not-italic">
                        <p>info@kaimukidigital.com</p>
                        <a href="tel:+18084007177">+1 (808) 400-7177</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <!-- Support end -->


    <!-- Footer-->
    {% include 'footer.html' %}
    <!-- Footer end-->

    <script src="/assets/js/main.js"></script>


</body>

</html>